<div class="auth">
  <div class="auth__form">
    <div class="auth__title">authentication form</div>
    <div class="auth__form-field">
      <input class="auth__input" title="Login" placeholder="LOGIN OR EMAIL">
    </div>
    <div class="auth__form-field">
      <input class="auth__input" title="Password" placeholder="PASSWORD">
    </div>
    <div class="auth__social">
      <span class="auth__social-header">log in with</span>
      <span class="auth__social-icon">
        <img src="../../../assets/images/facebook.png" alt="fb" class="auth__img">
      </span>
      <span class="auth__social-icon">
        <img src="../../../assets/images/google-plus.png" alt="gp" class="auth__img">
      </span>
      <span class="auth__social-icon">
        <img src="../../../assets/images/twitter.png" alt="tw" class="auth__img">
      </span>
      <span class="auth__social-icon">
        <img src="../../../assets/images/vk.png" alt="vk" class="auth__img">
      </span>
    </div>
    <button class="auth__button auth__button--green">log in</button>
    <button class="auth__button auth__button--yellow">sign in</button>
  </div>
</div>
