@import '../../../assets/css/variables.scss';

.button {
  display: inline-block;

  height: 40px;
  padding: 10px;
  box-sizing: border-box;

  outline: none;
  border: none;

  &--green {
    background-color: $green;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--white {
    background-color: white;
  }

  &__text {
    text-transform: uppercase;
  }
}
