<div class="veil">
  <div class="modal">
    <div class="modal__top-panel">
      <button class="modal__close"></button>
    </div>
    <div class="modal__content">
      <div class="modal__main-info">
        <div class="modal__column">
          <img src="" alt="" class="modal__avatar">
        </div>
        <div class="modal__column">
          <h2 class="modal__header">Accountant</h2>
          <div class="modal__rating"></div>
          <div class="modal__specs"></div>
          <button class="modal__add-button">Add application</button>
        </div>
      </div>
      <div class="modal__description">
        <h3 class="modal__sub-header">Description</h3>
        <p class="modal__text">Text text text text text text text text text text text text text text text</p>
      </div>
      <div class="modal__preview">
        <h3 class="modal__sub-header">Preview</h3>
      </div>
      <div class="modal__comments">
        <h3 class="modal__sub-header">Comments</h3>
      </div>
    </div>
  </div>
</div>
