$green: #80bda4;
$brown: #665743;
$light-yellow: #f6f7be;
$yellow: #e5ac27;
$red: #bf4e28;
$white-yellow: #fbffed;
$black: #22201d;
$blue: #2b3f6b;
$grey: #ececec;
$shadow: #a4871a;

$header-height: 80px;
$breakpoint: 800px;
