<div class="sidebar mat-typography">
  <mat-list>
    <h2>Menu</h2>
    <mat-list-item>
      <button mat-button color="basic" class="sidebar__button">
        <mat-icon mat-list-icon>person</mat-icon>
        <span>My Profile</span>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="primary" [routerLink]="'/' + STORE" class="sidebar__button">
        <mat-icon mat-list-icon>store</mat-icon>
        <span>Store</span>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="basic" class="sidebar__button">
        <mat-icon mat-list-icon>apps</mat-icon>
        <span>My apps</span>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="basic" class="sidebar__button">
        <mat-icon mat-list-icon>info</mat-icon>
        <span>About</span>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="basic" [routerLink]="'/' + AUTH" class="sidebar__button">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-list-item>

    <mat-divider></mat-divider>
    <h3 mat-subheader>RECENT</h3>

    <mat-list-item>
      <button mat-button color="basic" class="sidebar__button">
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <span>Accountant</span>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="basic" class="sidebar__button">
        <mat-icon mat-list-icon>check_circle</mat-icon>
        <span>Todo list</span>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="basic" class="sidebar__button">
        <mat-icon mat-list-icon>content_copy</mat-icon>
        <span>Notes</span>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-button color="basic" class="sidebar__button">
        <mat-icon mat-list-icon>cloud_queue</mat-icon>
        <span>Weather</span>
      </button>
    </mat-list-item>
  </mat-list>
</div>
