@import '../../../assets/css/variables';

.sidebar {
  height: 100%;
  width: 300px;
  max-width: 480px;
  padding: $header-height+20px 20px 30px;
  box-sizing: border-box;

  overflow: hidden;

  &__button {
    width: 100%;

    text-align: left;
  }
}
