<div [ngClass]="'sidebar' + (opened ? ' sidebar--opened' : '')">
  <button class="sidebar__button">
    <img src="../../../assets/images/user.png" class="sidebar__button-img">
    <span class="sidebar__button-text">My Profile</span>
  </button>
  <button class="sidebar__button" [routerLink]="'/' + STORE">
    <img src="../../../assets/images/store.png" class="sidebar__button-img">
    <span class="sidebar__button-text">Store</span>
  </button>
  <button class="sidebar__button">
    <img src="../../../assets/images/apps.png" class="sidebar__button-img">
    <span class="sidebar__button-text">My apps</span>
  </button>
  <button class="sidebar__button">
    <img src="../../../assets/images/question.png" class="sidebar__button-img">
    <span class="sidebar__button-text">About</span>
  </button>
  <button class="sidebar__button" [routerLink]="'/' + AUTH">
    <img src="../../../assets/images/logout.png" class="sidebar__button-img">
    <span class="sidebar__button-text">Logout</span>
  </button>

  <div class="sidebar__header">Recent</div>

  <button class="sidebar__button">
    <img src="../../../assets/images/dollar.png" class="sidebar__button-img">
    <span class="sidebar__button-text">Accountant</span>
  </button>
  <button class="sidebar__button">
    <img src="../../../assets/images/todo.png" class="sidebar__button-img">
    <span class="sidebar__button-text">todo list</span>
  </button>
  <button class="sidebar__button">
    <img src="../../../assets/images/notes.png" class="sidebar__button-img">
    <span class="sidebar__button-text">notes</span>
  </button>
  <button class="sidebar__button">
    <img src="../../../assets/images/weather.png" class="sidebar__button-img">
    <span class="sidebar__button-text">weather</span>
  </button>
</div>
