@import '../../../assets/css/variables';

.toolbar {
  display: flex;
  justify-content: space-between;

  padding: 20px 60px 20px 20px;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $header-height;

  z-index: 2;
}
